/* src/App.css */
body {
  font-family: 'Lora', serif;
}

.instructions {
  display: none;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}

button {
  background-color: #FFCC02;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Lora', serif;
}

button:hover {
  opacity: 0.9;
}

